@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Outfit:wght@500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

@import url(/css/normalize.css);

:root {
  --rubik: "Rubik", sans-serif;
  --outfit: "Outfit", sans-serif;
  --nunito: "Nunito", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* *HEADER STYLE STARTED*/

.header-section__wrapper {
  display: flex;
  align-items: center;
  padding: 27px 0;
}

.header-logo__img {
  width: 97px;
  height: 37px;
  margin-right: 280px;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  width: 565px;
  margin-right: 195px;
}

.header-nav__link {
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #222326cc;
}

.header-nav__link:hover {
  font-weight: 600;
}

.header-section__contact {
  position: relative;
}

.header-section__contact::before {
  position: absolute;
  top: calc(50% - 15px);
  right: calc(50% + 77px);
  content: url(/images/header-img/contact-logo.svg);
  width: 32px;
  height: 32px;
}

.header-contact__text {
  font-family: var(--rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  margin-bottom: 7px;
}

.header-contact__tel {
  font-family: var(--rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.33px;
  color: #000000;
}

/* *HEADER STYLE FINISHED*/

/* *HERO STYLE STARTED*/

.hero-section {
  background-color: #dbebf8;
  background-image: url(/images/hero-img/hero-bg.svg);
  background-position: calc(50% + 370px) calc(50% + 23px);
  background-repeat: no-repeat;
}

.hero-section__wrapper {
  padding-top: 133px;
  padding-bottom: 91px;
}

.hero-section__title {
  width: 641px;
  font-family: var(--outfit);
  font-size: 72px;
  font-weight: 700;
  line-height: 101px;
  margin-bottom: 24px;
}

.hero-section__desc {
  width: 617px;
  font-family: var(--rubik);
  font-size: 24px;
  font-weight: 400;
  line-height: 41px;
  color: #767877;
  margin-bottom: 48px;
}

.hero-section__btn {
  display: inline-block;
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  border-radius: 4px;
  padding: 18px 40px;
  background-color: #1f6bff;
  margin-bottom: 92px;
}

.hero-section__info {
  display: flex;
  justify-content: space-between;
  width: 730px;
}

.hero-info__amount {
  font-family: var(--rubik);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #050931;
}

.hero-info__text {
  font-family: var(--rubik);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #647685;
}

/* *HERO STYLE FINISHED*/

/* *ABOUT STYLE STARTED*/
/* *ABOUT STYLE FINISHED*/

/* *SERVICE STYLE STARTED*/
/* *SERVICE STYLE FINISHED*/

/* *WORK STYLE STARTED*/
/* *WORK STYLE FINISHED*/

/* *CHOICE STYLE STARTED*/
/* *CHOICE STYLE FINISHED*/

/* *PRICE STYLE STARTED*/
/* *PRICE STYLE FINISHED*/

/* *FAQ STYLE STARTED*/
/* *FAQ STYLE FINISHED*/

/* *REVIEW STYLE STARTED*/
/* *REVIEW STYLE FINISHED*/

/* *CONTACT STYLE STARTED*/
/* *CONTACT STYLE FINISHED*/

/* *FOOTER STYLE STARTED*/
/* *FOOTER STYLE FINISHED*/
