@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Outfit:wght@500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

@import url(/css/normalize.css);

:root {
  --rubik: "Rubik", sans-serif;
  --outfit: "Outfit", sans-serif;
  --nunito: "Nunito", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* *HEADER STYLE STARTED*/

.header-section__wrapper {
  display: flex;
  align-items: center;
  padding: 27px 0;
}

.header-logo__img {
  width: 97px;
  height: 37px;
  margin-right: 280px;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  width: 565px;
  margin-right: 195px;
}

.header-nav__link {
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #222326cc;
}

.header-nav__link:hover {
  font-weight: 600;
}

.header-section__contact {
  position: relative;
}

.header-section__contact::before {
  position: absolute;
  top: calc(50% - 15px);
  right: calc(50% + 77px);
  content: url(/images/header-img/contact-logo.svg);
  width: 32px;
  height: 32px;
}

.header-contact__text {
  font-family: var(--rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  margin-bottom: 7px;
}

.header-contact__tel {
  font-family: var(--rubik);
  font-size: 16px;
  font-weight: 400;
  line-height: 21.33px;
  color: #000000;
}

/* *HEADER STYLE FINISHED*/

/* *HERO STYLE STARTED*/

.hero-section {
  background-color: #dbebf8;
  background-image: url(/images/hero-img/hero-bg.svg);
  background-position: calc(50% + 370px) calc(50% + 23px);
  background-repeat: no-repeat;
}

.hero-section__wrapper {
  padding-top: 133px;
  padding-bottom: 91px;
}

.hero-section__title {
  width: 641px;
  font-family: var(--outfit);
  font-size: 72px;
  font-weight: 700;
  line-height: 101px;
  margin-bottom: 24px;
}

.hero-section__desc {
  width: 617px;
  font-family: var(--rubik);
  font-size: 24px;
  font-weight: 400;
  line-height: 41px;
  color: #767877;
  margin-bottom: 48px;
}

.hero-section__btn {
  display: inline-block;
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  border-radius: 4px;
  padding: 18px 40px;
  background-color: #1f6bff;
  margin-bottom: 92px;
}

.hero-section__info {
  display: flex;
  justify-content: space-between;
  width: 730px;
}

.hero-info__amount {
  font-family: var(--rubik);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #050931;
}

.hero-info__text {
  font-family: var(--rubik);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #647685;
}

/* *HERO STYLE FINISHED*/

/* *ABOUT STYLE STARTED*/

.about-section {
  background-image: url(/images/about-img/about-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 396px);
}

.about-section__wrapper {
  padding-top: 120px;
  padding-bottom: 226px;
}

.about-section__paragraph {
  display: flex;
  flex-direction: column;
  font-family: var(--rubik);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #050931;
}

.about-section__paragraph::after {
  content: url(/images/about-img/paragrapg.svg);
  margin-top: -10px;
  margin-bottom: 13px;
}

.about-section__title {
  width: 492px;
  font-family: var(--outfit);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 24px;
}

.about-section__desc {
  width: 513px;
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.08px;
  color: #647685;
  margin-bottom: 20px;
}

.about-section__desc a {
  font-weight: 600;
  text-decoration: underline;
  color: #fe6b01;
}

.about-section__text {
  width: 513px;
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.08px;
  color: #647685;
  margin-bottom: 48px;
}

.about-section__btn {
  display: inline-block;
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
  border-radius: 4px;
  padding: 18px 40px 18px 40px;
  background-color: #1f6bff;
}

/* *ABOUT STYLE FINISHED*/

/* *SERVICE STYLE STARTED*/

.service-section {
  background-color: #f4f9fd;
}

.service-section__wrapper::before{
  position: absolute;
  top: 0;
  left: calc(50% - 1030px);
  content: "";
  width: 256px;
  height: 256px;
  background-color: #BADAF4;
  border-radius: 50%;
}

.service-section__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.service-section__paragraph {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--rubik);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #050931;
}

.service-section__paragraph::after {
  content: url(/images/about-img/paragrapg.svg);
  margin-top: -10px;
  margin-bottom: 13px;
}

.service-section__title {
  font-family: var(--outfit);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 20px;
}

.service-section__desc {
  width: 609px;
  text-align: center;
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.08px;
  color: #647685;
  margin-bottom: 78px;
}

.service-section__box{
  display: flex;
  justify-content: space-between;
  width: 1324px;
  margin-bottom: 60px;
}

.service-box__card {
  width: 420px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 0 32px;
  padding-top: 32px;
  border: 1px solid #e3e3e3;
}

.service-box__card:hover{
  box-shadow: 0px 54px 80px -16px #DBDEE5CC;
}

.service-box__card:nth-child(1) .service-card__title::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(/images/service-img/yellow-icon.svg);
  background-color: #ffca4533;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.service-box__card:nth-child(2) .service-card__title::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(/images/service-img/green-icon.svg);
  background-color: #48B77433;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.service-box__card:nth-child(3) .service-card__title::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(/images/service-img/red-icon.svg);
  background-color: #FF834533;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.service-card__title {
  display: flex;
  flex-direction: column;
  font-family: var(--outfit);
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: #1b1e1c;
  margin-bottom: 20px;
}

.service-card__desc {
  font-family: var(--rubik);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #767877;
  margin-bottom: 48px;
}

.service-link__img {
  margin-bottom: 40px;
}

.service-section__btn{
  font-family: var(--rubik);
font-size: 18px;
font-weight: 500;
line-height: 30px;
color: #FFFFFF;
background-color: #1F6BFF;
padding: 18px 40px;
border-radius: 4px;
}

/* *SERVICE STYLE FINISHED*/

/* *WORK STYLE STARTED*/
/* *WORK STYLE FINISHED*/

/* *CHOICE STYLE STARTED*/
/* *CHOICE STYLE FINISHED*/

/* *PRICE STYLE STARTED*/
/* *PRICE STYLE FINISHED*/

/* *FAQ STYLE STARTED*/
/* *FAQ STYLE FINISHED*/

/* *REVIEW STYLE STARTED*/
/* *REVIEW STYLE FINISHED*/

/* *CONTACT STYLE STARTED*/
/* *CONTACT STYLE FINISHED*/

/* *FOOTER STYLE STARTED*/
/* *FOOTER STYLE FINISHED*/
